/* #region CSS RESET by JOSH W COMEAU*/
/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* 2. Remove default margin */
* {
    margin: 0;
    padding: 0;
}

body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
    font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

/*
    9. Create a root stacking context
  */
#root,
#__next {
    isolation: isolate;
}

/* #endregion CSS RESET */

/* #region UNIVERSAL BODY STYLING */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: space-between; */

}

.mainContent {
    flex: 1;
}

ul {
    list-style: none;
}

/* #endregion UNIVERSAL BODY STYLING */

/* #region Scrollbar-styling */

::-webkit-scrollbar {
    width: 10px;
    height: 0px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #b8b8b8;
    border-radius: 10px;
    border: 2px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #929292;
}

/* #endregion Scrollbar-styling */

/* #region HEADER/NAVBAR STYLING */

.navBar {
    max-width: 80%;
    margin: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navBar>ul {
    list-style-type: none;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: clamp(20rem, 20vw, 40%);
}

.navBar p,
.navBar a {
    cursor: pointer;

    text-decoration: none;
    color: inherit;
}

.navBar>p {
    font-size: 2rem;
}

/* #endregion HEADER/NAVBAR STYLING */

/* #region MAIN CONTENT AND CARD STYLING */

.mainContent {

    padding: 2rem 0;
    display: grid;
    margin: auto;
    max-width: 80%;

    grid-template-columns: repeat(auto-fit, 16rem);
    grid-auto-rows: 22rem;
    gap: 2rem;
    align-content: center;

}

#addBook {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

#addBook>img {
    user-select: none;
    width: 25%;
}

.books {
    border: 1px solid black;

    display: grid;
    grid-template-rows: repeat(10, 1fr);
    justify-items: center;
    align-items: center;
}

.authorName,
.bookTitle,
.pageNumber,
.readStatus {
    width: 80%;
    white-space: nowrap;
    overflow-x: scroll;

    font-size: 1rem;
    text-align: center;
}

.bookTitle {
    grid-row: 1/3;
    text-align: left;

    font-size: 2rem;
}

.authorName {
    grid-row: 3/4;
    text-align: right;
}

.pageNumber {
    grid-row: 5/6;
}

.readStatus {
    grid-row: 6/7;
}

.bookBtns {
    grid-row: -1/-3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-width: 80%;
    gap: 0.5rem;
    cursor: pointer;
    user-select: none;
}

.bookBtns>div {
    border: 1px solid red;
    width: 100%;
    text-align: center;
    padding: 0.35rem;
    border-radius: 0.5rem;
}

/* #endregion MAIN CONTENT AND CARD STYLING */

/* #region DIALOG STYLING */

dialog {
    margin: auto;
    padding: 1rem;
    width: 100%;
    max-width: calc(16rem*3);
}

.dialogForm {
    font-size: 1.1rem;
}

.dialogForm fieldset {
    margin: 1rem;
    padding: 1rem;
}

.dialogForm legend {
    font-size: 1.25rem
}


#bookField>ul>li {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

#buttonField {
    border: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

#buttonField>button {
    padding: 0.125rem;
    user-select: none;
}


::backdrop {
    background-color: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(0.25rem);
}

/* #endregion DIALOG STYLING */

/* #region FOOTER STYLING */
.footer {
    display: flex;
    justify-content: center;
}
/* #endregion FOOTER STYLING */
