/* #region CSS Reset  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

input,
button,
textarea,
select {
    font: inherit;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* #endregion CSS Reset */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Junge&display=swap');

body {
    font-family: "Noto Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-display: block;

    min-height: 100vh;

    line-height: 1.5;
}

/* #region Header Styling */

#header {
    background-color: #cdcdcd;
}

#headContainer {
    max-width: 1000px;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

#headContainer>h1 {
    font-family: "Junge", cursive;
    font-size: 2.25rem;
    font-weight: 400;
    cursor: default;
    user-select: none;
}

#header a {
    text-decoration: none;
    color: inherit;
}

#header a:active {
    color: #989898;
}

/* #endregion Header Styling */
